<div class="container">
    <a href="/admin">Voltar</a>
    <hr>
    <h1>Todos os Destinos</h1>
    <br>
    <div class="usuarios">
      {{#each destinos}}        
            <input type="hidden" name="id" value="{{this.id}}">
           <h3>{{this.nome}}</h3>
           <p>{{this.sigla}}</p>
      
        <div class="action">
        <form action="/destino/delete/{{this.id}}" method="post">
            <button type="submit" class="btn btn-danger">Excluir</button>
        </form>
        <form action="/destino/editar/{{this.sigla}}">
            <button type="submit" class="btn btn-warning">Editar</button>
        </form>
        </div>
        <hr>
            
    {{/each}}
    </div>

</div>