<div class="container">
   <a href="veiculo/adicionar">Cadastrar</a> |
    <a href="/admin">Voltar</a>
    <hr>
    <h2>Veiculos Cadastrados</h2>
    <div class="linha"></div>
    <br>
    <div class="dados">

        {{#each veiculo}}
        <div class="usuarios">
            <h3>{{this.modelo}}</h3>
            <div class="linha"></div>
            <ul>
                <li></li>
                <li>Marca: {{this.marca}}</li>
                <li>Placa: {{#formatPlaca placa}}{{/formatPlaca}}</li>
                {{#if this.lotado}}
                <li>Não há vagas</li>
                {{else}}
                <li>Lugares: {{this.lotacao}}</li>
                {{/if}}
                <li>Descrição: {{this.descricao}}</li>
            </ul>
            <div class="action">
                <form action="/veiculo/delete/{{this.placa}}" method="post">
                    <button type="submit" class="btn btn-danger">Excluir</button>
                </form>
                <form action="/veiculo/editar/{{this.placa}}">
                    <button type="submit" class="btn btn-warning">Editar</button>
                </form>
            </div>
            <hr>
        </div>
        {{/each}}
    </div>

</div>
