<div class="container">
    <a href="/admin">Voltar</a>
    <hr>
    <h1>Todos os Translados</h1>
    <div class="linha"></div>
    <br>
    <div class="dados">

        {{#each translados}}
        <div class="usuarios">
            <h4>Agendamento nยบ {{this.id}}</h4>
           <div class="linha"></div>
            <h3>Agendado para: {{#formatDate dataSaida}}{{/formatDate}}</h3>                         
               <strong>Turno:</strong> {{this.turno}}
               <strong>Destino:</strong> {{this.destino}}
               <strong>Placa do Veiculo:</strong> {{#formatPlaca veiculo}}{{/formatPlaca}}
               <strong>Matricula do Aluno:</strong> {{this.matricula}}
               {{translado.Usuario.nome}}
            <div class="linha"></div>
            <input type="hidden" name="id" value="{{this.id}}">

            <div class="action">
                <form action="/translado/delete/{{this.id}}/{{this.veiculo}}" method="post">
                    <button type="submit" class="btn btn-danger">Excluir</button>
                </form>
                <form action="/translado/editar/{{this.matricula}}">
                    <button type="submit" class="btn btn-warning">Editar</button>
                </form>
            </div>
            <hr>
        </div>
        {{/each}}
    </div>

</div>