<div class="container">
    <a href="/usuario/adicionar">Cadastrar</a> |
    <a href="/admin">Voltar</a>

    <hr>
    <h1>Usuários Cadastrados</h1>
    <div class="linha"></div>
    <br>

    <form action="/usuario/pesquisar/matricula" method="post"> 
         
    <div class="input-group mb-3">
        <input type="number" name="matricula" class="form-control" placeholder="Digite a Matricula" aria-label="Recipient's username" aria-describedby="button-addon2" required>
        <div class="input-group-append">
            <button class="btn btn-outline-success" type="submit" id="button-addon2">Pesquisar</button>
        </div>
    </div>
    </form>
    

    <div class="dados">


        {{#each usuarios}}
        <div class="usuarios">
            <h3>{{this.nome}}</h3>
            <div class="linha"></div>            
                <h2>{{usuarios.Translados}}</h2>
               <strong>Email:</strong> {{this.email}}
               <strong>Tipo usuario:</strong> {{this.tipo}}
               <strong>Matricula:</strong> {{this.matricula}}
              {{!--  <strong>Senha:</strong> {{this.senha}} --}}
            <div class="linha2"></div>
            <div class="action">
                <form action="/usuario/delete/{{this.matricula}}" method="post">
                    <button type="submit" class="btn btn-danger">Excluir</button>
                </form>
                <form action="/usuario/editar/{{this.matricula}}">
                    <button type="submit" class="btn btn-warning">Editar</button>
                </form>
            </div>
            <hr>
        </div>
        {{/each}}
    </div>

</div>